@font-face {
	src: url("./font/BMJUA_ttf.ttf");
	font-family: "jua";
}

.navbar-padding {
	padding: 3% 3%;
}

.navbar-light .navbar-brand {
	line-height: 1.7;
	text-align: right;
	color: #000000;
	font-weight: bold;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
	line-height: 1.7;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 120%;
}

.custom-toggler.navbar-toggler {
	border-color: #FFFFFF;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
	background: url(./img/mainbackimage.png);
	background-repeat: no-repeat;
    background-position: center;
	background-size: 100% 100%;
}

.life-time-div {
	width: 400px;
	height: 70px;
	margin: 0 auto;
}

.life-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 50px;
	margin: 10px;
	float: left;
}

.life-img {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./img/life.png);
	background-repeat: no-repeat;
    background-position: center;
	background-size: 100% 100%;
	width: 30px;
	height: 40px;
	margin-left: 1px;
	margin-right: 1px;
	float: left;
}

.life-x {
	display: flex;
  	justify-content: center;
  	align-items: center;
	width: 20px;
	font-size: 20px;
	font-family: "jua";
	float: left;
}

.life-count {
	display: flex;
  	justify-content: center;
  	align-items: center;
	width: 30px;
	margin-left: 2px;
	margin-right: 5px;
	margin-top: 2px;
	float: left;
}

.life-count-text {
	font-size: 33px;
	font-family: "jua";
}

.time-div {
	width: 250px;
	background: #fff;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 20px;
	float: left;
}

.time-progress-div {
	width: 0px;
	height: 30px;
	border-radius: 20px;
	background-color: #11B76C;
}

.problem-num-div {
	position: relative;
	width: 400px;
	height: 50px;
	margin: 0 auto;
}

.problem-num-text-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 35px;
	margin: 0 auto;
	background: #FF734B;
	box-shadow: 2px 2px 2px grey;
	border-radius: 50px;
}

.problem-num-text {
	font-size: 25px;
	font-family: "jua";
	color: #fff;
}

.problem-img-div {
	background: url(./img/problemback.png);
	background-repeat: no-repeat;
    background-position: center;
	background-size: 100% 100%;
	width: 400px;
	height: 250px;
	margin: 0 auto;
	margin-top: -30px;
	padding-top: 30px;
}

.problem-img {
	width: 350px;
	height: 200px;
	margin-left: auto;
  	margin-right: auto;
	display: block;
}

.answer-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

.answer-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
	background-color: #fff;
	float: left;
}

.answer-btn:focus{
	outline: none;
}

.answer-text {
	font-size: 30px;
	font-family: "jua";
}

.choice-div {
	width: 400px;
	height: 145px;
	margin: 0 auto;
}

.choice-line {
	text-align: center;
}

.choice-btn {
	width: 60px;
	height: 60px;
	margin: 5px;
	border-radius: 10px;
	background-color: #fff;
}

.choice-btn:focus {
	outline: none;
}

.choice-text {
	line-height: 50px;
	vertical-align: center;
	font-size: 40px;
	font-family: "jua";
}
