@font-face {
	src: url("./font/BMJUA_ttf.ttf");
	font-family: "jua";
}

.navbar-padding {
	padding: 3% 3%;
}

.navbar-light .navbar-brand {
	line-height: 1.7;
	text-align: right;
	color: #000000;
	font-weight: bold;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
	line-height: 1.7;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 120%;
}

.custom-toggler.navbar-toggler {
	border-color: #FFFFFF;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
	background: url(./img/resultbackimage.png);
	background-repeat: no-repeat;
    background-position: center;
	background-size: 100% 100%;
}

.result-img-div {
	width: 380px;
	height: 200px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

.result-img {
	width: 50%;
	height: 100%;
	object-fit: fill;
}

.result-text-div {
	width: 380px;
	height: 100px;
	text-align: center;
	margin: 0 auto;
}

.result-text {
	width: 60%;
	height: 100%;
	object-fit: contain;
}

.restart-div {
	width: 380px;
	height: 100px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

.restart-btn {
	width: 150px;
	height: 50px;
	background-color: #fff;
	color: #053C3F;
	border-radius: 50px;
	box-shadow: 2px 3px 3px #053C3F;
	font-size: 150%;
	font-family: "jua";
}

.restart-btn:focus {
	outline: none;
}

.result-addThis-div {
	text-align: center;
	margin: 0 auto;
	margin-bottom : 10px;
}
