@font-face {
	src: url("BMJUA_ttf.ttf");
	font-family: "jua";
}

.navbar-padding {
	padding: 3% 3%;
}

.navbar-light .navbar-brand {
	line-height: 1.7;
	text-align: right;
	color: #000000;
	font-weight: bold;
}

.nav-link {
	line-height: 1.7;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 120%;
}

body {
	background-color: #fce3c2;
}

