.navbar-padding {
	padding: 2% 3%;
}

.navbar-light .navbar-brand {
	line-height: 1.7;
	text-align: right;
	color: #000000;
	font-weight: bold;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
	line-height: 1.7;
	color: #000000;
	font-weight: bold;
	font-size: 120%;
}

.custom-toggler.navbar-toggler {
	border-color: #000000;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
	background-color: #D2F0FD;
	background-repeat: no-repeat;
	
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.loading-div {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	background: white;
	visibility: visible;
}

.spinner-border {
	width: 80px;
	height: 80px;
	margin: auto;
}

.desc-back-div {
	width: 400px;
	height: 550px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid #D2F0FD;
	background-image: url("./img/res_back.png");
	background-size: 100% 100%;
}

.res-title-div {
	height: 23px;
	text-align: center;
	margin-top: 50px;
}

.res-top-div {
	height: 50px;
	margin-top: 5px;
	text-align: center;
}

.res-top-img-div {
	display: inline-block;
	vertical-align: top;
    width: 30px;
    height: 50px;
}

.res-top-title-div {
	display: inline-block;
	vertical-align: top;
    width: 200px;
    height: 50px;
	padding-top: 7px;
}

.res-top-title {
	
}

.res-top-img {
	width: 100%;
    height: 100%;
}

.res-my-div {
	height: 30px;
	margin-top: 20px;
	text-align: center;
}

.res-level-div {
	height: 60px;
	text-align: center;
	margin-bottom: 10px;
}

.res-desc-div {
	width: 250px;
	height: 150px;
	margin: 0 auto;
	padding-top: 1px;
	margin-top: -1px;
	text-align: center;
	background-image: url("./img/res_memo.png");
	background-size: 100% 100%;
}

.res-desc-title-div {
	display: flex;
    align-items: center;
	flex-direction: row; /* default: row */
    justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
	width: 250px;
	height: 40px;
	margin-top: 10px;
	text-align: center;
}

.res-desc-sub-div {
	display: flex;
    align-items: center;
	flex-direction: row; /* default: row */
    justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
	width: 250px;
	height: 85px;
	text-align: center;
}

.share-div {
	height: 50px;
	margin-top: 20px;
	text-align: center;
}

.res-restart-div {
	height: 40px;
	margin-top: 10px;
}

.res-restart-button {
	width: 160px;
	height: 45px;
	border: none;
	background: none;
	margin: 0 auto;
}

.res-restart-button-img {
	width: 100%;
    height: 100%;
}

.admin-1 {
	width: 320px;
	height: 100px;
	margin: 0 auto;
}

.admin-2 {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-top: 10px;
}

.admin-3 {
	width: 300px;
	height: 250px;
	margin: 0 auto;
	margin-top: 10px;
}

.bottom {
	width: 100%;
	color: black;
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
}