@font-face {
	src: url("../font/TMONMONSORI.TTF");
	font-family: "tmonsori";
}

.nav-div {
	width: 940px;
	margin: 0 auto;
}

.navbar-padding {
	padding: 2% 3%;
}

.navbar-light .navbar-brand {
	line-height: 1.7;
	text-align: right;
	color: #000000;
	font-weight: bold;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
	line-height: 1.7;
	color: #000000;
	font-weight: bold;
	font-size: 120%;
}

.custom-toggler.navbar-toggler {
	border-color: #000000;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
	background-color: #0071ff;
	background-repeat: no-repeat;
	
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.desc-back-div {
	position: relative;
	width: 680px;
	height: 650px;
	margin: 0 auto;
	margin-top: 10px;
	background: #0071ff;
}

.desc-back-img {
	position: absolute;
	width: 100%;
    height: 100%;
}

.desc-back-start-button {
	position: absolute;
	width: 250px;
	height: 70px;
	margin: 0 auto;
	margin-top: 580px;
	margin-left: 225px;
	padding: 0;
	padding-top: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: none;
	background: black;
	text-align: center;
}

.desc-back-start-button-text {
	color: white;
	font-size: 40px;
	font-family: "tmonsori";
}

.admin-1 {
	width: 320px;
	height: 100px;
	margin: 0 auto;
}

.admin-2 {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-top: 10px;
}

.admin-3 {
	width: 300px;
	height: 250px;
	margin: 0 auto;
	margin-top: 10px;
}

.disqus-div {
	width: 940px;
	margin: 0 auto;
}

.bottom {
	width: 100%;
	color: black;
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
}

@media(max-width: 700px){
	.desc-back-div {
		width: 400px;
		height: 400px;
	}
	
	.desc-back-start-button {
		width: 150px;
		height: 40px;
		margin-top: 360px;
		margin-left: 125px;
	}
	
	.desc-back-start-button-text {
		font-size: 20px;
	}
}

@media(max-width: 940px){
	.nav-div {
		width: auto;
	}
	
	.disqus-div {
		width: auto;
		margin: 10px;
	}
}