@font-face {
	src: url("../font/GmarketSansTTFMedium.ttf");
	font-family: "sans";
}

.nav-div {
	width: 940px;
	margin: 0 auto;
}

.navbar-padding {
	padding: 2% 3%;
}

.navbar-light .navbar-brand {
	line-height: 1.7;
	text-align: right;
	color: #000000;
	font-weight: bold;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
	line-height: 1.7;
	color: #000000;
	font-weight: bold;
	font-size: 120%;
}

.custom-toggler.navbar-toggler {
	border-color: #000000;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
	background-color: white;
	background-repeat: no-repeat;
	
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.result-back-div {
	position: relative;
	width: 600px;
	height: 500px;
	margin: 0 auto;
	margin-top: 10px;
	background: #14203D;
	border: 1px solid white;
}

.result-back-title-div {
	position: absolute;
	width: 500px;
	height: 50px;
	top: 30px;
	left: 50px;
	text-align: center;
}

.result-back-title {
	color: white;
	font-size: 30px;
	font-family: "sans";
}

.result-back-score-div {
	position: absolute;
	width: 500px;
	height: 90px;
	top: 90px;
	left: 50px;
	text-align: center;
}

.result-back-score {
	color: white;
	font-size: 65px;
	font-family: "sans";
}

.result-back-desc-div {
	position: absolute;
	width: 500px;
	height: 210px;
	top: 200px;
	left: 50px;
	text-align: center;
}

.result-back-desc {
	color: white;
	font-size: 20px;
	font-family: "sans";
}

.result-back-normal-desc-div {
	position: absolute;
	width: 500px;
	height: 150px;
	top: 200px;
	left: 50px;
	text-align: center;
}

.result-back-normal-desc {
	color: white;
	font-size: 40px;
	font-family: "sans";
}

.result-back-button-div {
	position: absolute;
	width: 150px;
	height: 40px;
	top: 430px;
	left: 225px;
	padding-top: 3px;
	text-align: center;
	border: 2px solid white;
	border-radius: 20px;
}

.result-back-restart {
	color: white;
	font-size: 25px;
	font-family: "sans";
}

.share-div {
	height: 50px;
	margin-top: 20px;
	text-align: center;
}

.admin-1 {
	width: 320px;
	height: 100px;
	margin: 0 auto;
}

.admin-2 {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-top: 10px;
}

.admin-3 {
	width: 300px;
	height: 250px;
	margin: 0 auto;
	margin-top: 10px;
}

.bottom {
	width: 100%;
	color: black;
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
}

@media(max-width: 700px){
	.result-back-div {
		width: 350px;
		height: 350px;
	}
	
	.result-back-title-div {
		width: 330px;
		height: 30px;
		top: 20px;
		left: 10px;
	}

	.result-back-title {
		font-size: 22px;
	}

	.result-back-score-div {
		width: 330px;
		height: 70px;
		top: 55px;
		left: 10px;
	}

	.result-back-score {
		font-size: 50px;
	}

	.result-back-desc-div {
		width: 330px;
		height: 160px;
		top: 130px;
		left: 10px;
	}

	.result-back-desc {
		font-size: 14px;
	}
	
	.result-back-normal-desc-div {
		width: 330px;
		height: 120px;
		top: 130px;
		left: 10px;
	}
	
	.result-back-normal-desc {
		font-size: 30px;
	}

	.result-back-button-div {
		width: 100px;
		height: 30px;
		top: 285px;
		left: 125px;
	}

	.result-back-restart {
		font-size: 17px;
	}
}

@media(max-width: 940px){
	.nav-div {
		width: auto;
	}
	
}