@font-face {
	src: url("./font/BlackHanSans-Regular.ttf");
	font-family: "BlackHanSans";
}

@font-face {
	src: url("./font/gyunggi1000batang_Bold.ttf");
	font-family: "gyunggi1000batang_Bold";
}

@font-face {
	src: url("./font/gyunggi1000batang_Regular.ttf");
	font-family: "gyunggi1000batang_Regular";
}

.navbar-padding {
	padding: 2% 3%;
}

.navbar-light .navbar-brand {
	line-height: 1.7;
	text-align: right;
	color: #000000;
	font-weight: bold;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
	line-height: 1.7;
	color: #000000;
	font-weight: bold;
	font-size: 120%;
}

.custom-toggler.navbar-toggler {
	border-color: #000000;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
	background-color: #D2F0FD;
	background-repeat: no-repeat;
	
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.desc-back-div {
	width: 400px;
	height: 430px;
	margin: 0 auto;
	margin-top: 5px;
	padding-top: 10px;
	background-image: url("./img/mainback.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.desc-div {
	width: 350px;
	height: 370px;
	margin: 0 auto;
	padding-top: 50px;
	background-image: url("./img/mainmemoback.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.desc-top {
	width: 350px;
	height: 70px;
}

.desc-top-text-1 {
	font-size: 20px;
	font-family: "gyunggi1000batang_Bold";
	margin-left: 35px;
}

.desc-top-text-2 {
	display: flex;
	font-size: 20px;
	font-family: "gyunggi1000batang_Bold";
	float: right;
	margin-right: 35px;
}

.desc-center {
	width: 350px;
	height: 150px;
	text-align: center;
}

.desc-center-text-1 {
	font-size: 50px;
	font-family: "BlackHanSans";
	line-height: 1.2;
}

.desc-center-text-2 {
	font-size: 25px;
	font-family: "BlackHanSans";
	line-height: 1.2;
}

.desc-bottom {
	position: relative;
	width: 350px;
	height: 80px;
	padding-top: 20px;
}

.desc-bottom-img {
	position: absolute;
	width: 60px;
	height: 50px;
	top: 35%;
    left: 27%;
    transform: translate(-50%, -50%);
	background-image: url("./img/testgogo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation: blink-effect 1s step-end infinite;
	-moz-animation: blink-effect 1s step-end infinite;
	-webkit-animation: blink-effect 1s step-end infinite;
}

.desc-bottom-button {
	position: absolute;
	width: 150px;
	height: 50px;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-image: url("./img/startbutton.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.admin-1 {
	width: 320px;
	height: 100px;
	margin: 0 auto;
}

.admin-2 {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-top: 10px;
}

.admin-3 {
	width: 300px;
	height: 250px;
	margin: 0 auto;
	margin-top: 10px;
}

.bottom-1 {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
}

.bottom {
	width: 100%;
	color: black;
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

@-moz-keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes blink-effect {
  50% {
    opacity: 0;
  }
}